<%= link_to "Back", root_path %>

<h1>Quiz time!</h1>

<%= form_with url: plant_quiz_answer_path, method: :post do |form| %>
  <%# Send the plant to the answer so we know which plant to check the answer against. %>
  <%= form.hidden_field :plant, value: @plant.id %>
  <%= form.hidden_field :answer_attribute, value: @answer_attribute %>

  <%= form.label @answer_attribute do %>
    <h2>What is the <em><%= @answer_attribute.to_s.humanize(capitalize: false) %></em> of the plant with this <em><%= @question_attribute.to_s.humanize(capitalize: false) %></em>?</h2>
    <% case @question_type %>
    <% when PlantQuizController::QuestionType::TEXT %>
      <p class="<%= @question_attribute %>">“<%= @question_value %>”</p>
    <% when PlantQuizController::QuestionType::IMAGE %>
      <figure>
        <%= image_tag @question_value, class: @question_attribute %>
      </figure>
    <% end %>
  <% end %>
  <%= form.text_field @answer_attribute, class: @answer_attribute %>

  <%= form.submit "Am I right?" %>
<% end %>

<div id="result"></div>

<p><%= link_to "Ask me another", plant_quiz_question_path %> | <%= link_to "Review this plant’s information", plant_path(@plant) %></p>
