<h1>Plant Idents</h1>

<p><%= link_to "Quiz me!", plant_quiz_question_path %></p>

<aside>
  <%= form_with url: root_path, method: :get do |form| %>
    <details>
      <summary>Filter</summary>
      <p><%= form.check_box :only_shuttleworth_cultivar %> <%= form.label :only_shuttleworth_cultivar, "Only show Shuttleworth cultivars" %></p>
      <p><%= form.check_box :only_drought_resistant %> <%= form.label :only_drought_resistant, "Only show drought resistant plants" %></p>
      <p><%= form.check_box :only_biodiversity_wildlife %> <%= form.label :only_biodiversity_wildlife, "Only show plants beneficial to wildlife" %></p>
      <p><%= form.check_box :only_waterlogging_resistant %> <%= form.label :only_waterlogging_resistant, "Only show waterlogging resistant plants" %></p>
      <p><%= form.check_box :only_native_to_uk %> <%= form.label :only_native_to_uk, "Only show plants native to the UK" %></p>
      <%= form.submit "Go", name: nil %>
    </details>
  <% end %>
</aside>

<table>
  <thead>
    <tr>
      <% [:botanical_name, :common_name, :week].each do |attribute| %>
        <th>
          <%=
            link_to "#{attribute.to_s.humanize} #{@sort_by == attribute ? (@sort_order == :asc ? "▼" : "▲") : "▽"}",
              root_path(
                sort_by: attribute,
                sort_order: (@sort_by == attribute && @sort_order == :asc) ? :desc : :asc
              )
          %>
        </th>
      <% end %>
      <th>Shuttleworth cv.</th>
      <th>Drought resistant</th>
      <th>Waterlogging resistant</th>
      <th>Beneficial to wildlife</th>
      <th>Native to the UK</th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td class="botanical_name"><%= link_to plant.botanical_name, plant_path(plant) %></td>
        <td class="common_name"><%= plant.common_name %></td>
        <td class="week"><%= plant.week %></td>
        <td class="shuttleworth_cultivar">
          <% if plant.shuttleworth_cultivar %>
            ✔
          <% end %>
        </td>
        <td class="drought_resistant">
          <% if plant.drought_resistant %>
            ✔
          <% end %>
        </td>
        <td class="waterlogging_resistant">
          <% if plant.waterlogging_resistant %>
            ✔
          <% end %>
        </td>
        <td class="biodiversity_wildlife">
          <% if plant.biodiversity_wildlife %>
            ✔
          <% end %>
        </td>
        <td class="native_to_uk">
          <% if plant.native_to_uk %>
            ✔
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
