<h1>Plant Idents</h1>

<p><%= link_to "Quiz me!", plant_quiz_question_path %></p>

<aside>
  <%= form_with url: root_path, method: :get do |form| %>
    <details>
      <summary>Filter</summary>
      <p><%= form.check_box :only_shuttleworth_cultivar %> <%= form.label :only_shuttleworth_cultivar, "Only show Shuttleworth cultivars" %></p>
      <p><%= form.check_box :only_drought_resistant %> <%= form.label :only_drought_resistant, "Only show drought resistant plants" %></p>
      <p><%= form.check_box :only_biodiversity_wildlife %> <%= form.label :only_biodiversity_wildlife, "Only show plants beneficial to wildlife" %></p>
      <%= form.submit "Go", name: nil %>
    </details>
  <% end %>
</aside>

<table>
  <thead>
    <tr>
      <th>Botanical name</th>
      <th>Common name</th>
      <th>Week</th>
      <th>Shuttleworth cv.</th>
      <th>Drought resistant</th>
      <th>Beneficial to wildlife</th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td class="botanical_name"><%= link_to plant.botanical_name, plant_path(plant) %></td>
        <td class="common_name"><%= plant.common_name %></td>
        <td class="week"><%= plant.week %></td>
        <td class="shuttleworth_cultivar">
          <% if plant.shuttleworth_cultivar %>
            ✔
          <% end %>
        </td>
        <td class="drought_resistant">
          <% if plant.drought_resistant %>
            ✔
          <% end %>
        </td>
        <td class="biodiversity_wildlife">
          <% if plant.biodiversity_wildlife %>
            ✔
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
