<div class="column_container">
  <div>
    <%= link_to "Back", root_path %>
    <h1>
      <span class="botanical_name"><%= @plant.botanical_name %></span>
    </h1>

    <h2>How to pronounce</h2>

    <p><%= @plant.pronunciation %></p>

    <h2>Common Name</h2>

    <p><%= @plant.common_name %></p>

    <h2>Description</h2>

    <p><%= @plant.description %></p>
  </div>

  <div class="column_container">
    <% @plant.images.each do |image| %>
      <a href="<%= image_path image %>" target="_blank"><%= image_tag image %></a>
    <% end %>
  </div>
</div>

<div class="column_container">
  <div>
    <h2>Botanical Details</h2>

    <dl>
      <dt>Classification:</dt>
      <dd><%= @plant.classification.join(", ") %></dd>

      <dt>Ultimate height:</dt>
      <dd><%= @plant.ultimate_height %></dd>

      <dt>Ultimate spread:</dt>
      <dd><%= @plant.ultimate_spread %></dd>

      <dt>Time to ultimate height:</dt>
      <dd><%= @plant.time_to_ultimate_height %></dd>

      <dt>Harmful effects:</dt>
      <dd><%= @plant.harmful_effects %></dd>

      <dt>Native to the UK:</dt>
      <dd><%= @plant.native_to_uk.humanize %></dd>

      <dt>Lime avoiding:</dt>
      <dd><%= @plant.lime_avoiding.humanize %></dd>

      <dt>AGM:</dt>
      <dd><%= @plant.agm.humanize %></dd>

      <dt>Light requirements:</dt>
      <dd><%= @plant.light_requirements.join(", ") %></dd>

      <dt>Hardiness level:</dt>
      <dd><%= @plant.hardiness_level %></dd>

      <dt>Exposure:</dt>
      <dd><%= @plant.exposure.join(", ") %></dd>

      <dt>Major plant group:</dt>
      <dd><%= @plant.major_plant_group %></dd>

      <dt>RHS plant page:</dt>
      <dd><%= link_to @plant.rhs_url, @plant.rhs_url, target: :_blank %></dd>
    </dl>
  </div>

  <div class="column_container">
    <div>
      <h2>Useages the plant is often selected for</h2>

      <dl>
        <dt>Grown as a climber or a wall shrub:</dt>
        <dd><%= @plant.climber_wall_shrub.humanize %></dd>

        <dt>Grown for its fruits:</dt>
        <dd><%= @plant.known_for_its_fruit.humanize %></dd>

        <dt>Grown for its scent:</dt>
        <dd><%= @plant.known_for_its_scent.humanize %></dd>

        <dt>Good for ground cover:</dt>
        <dd><%= @plant.ground_cover.humanize %></dd>

        <dt>Grown for its flowers:</dt>
        <dd><%= @plant.known_for_its_flowers.humanize %></dd>

        <dt>Grown for its foliage:</dt>
        <dd><%= @plant.known_for_its_foliage.humanize %></dd>

        <dt>Foliage type:</dt>
        <dd><%= @plant.foliage_type %></dd>

        <dt>Considered a weed or invasive:</dt>
        <dd><%= @plant.weed_invasive.humanize %></dd>

        <dt>Seasonal short-term plant:</dt>
        <dd><%= @plant.seasonal_short_term.humanize %></dd>

        <dt>Winter interest:</dt>
        <dd><%= @plant.winter_interest.humanize %></dd>

        <dt>Beneficial to wildlife:</dt>
        <dd><%= @plant.biodiversity_wildlife.humanize %></dd>

        <dt>Used for interior landscapes:</dt>
        <dd><%= @plant.interior_landscapes.humanize %></dd>

        <dt>Suitable for hedging:</dt>
        <dd><%= @plant.suitable_for_hedging.humanize %></dd>
      </dl>
    </div>
  </div>

  <div class="column_container">
    <div>
      <h2>Appearance</h2>

      <dl>
        <dt>Habit:</dt>
        <dd><%= @plant.habit %></dd>

        <dt>Flowers:</dt>
        <dd><%= @plant.flowers_present.humanize %></dd>

        <% if @plant.flowers_present == true %>
          <dt>Flower description:</dt>
          <dd><% @plant.flower_description.each do |info| %>
            <li><%= info %></li>
          <% end %>
          </dd>
        <% end %>

        <dt>Fruit:</dt>
        <dd><%= @plant.fruit_present.humanize %></dd>

        <% if @plant.fruit_present == true %>
          <dt>Fruit description:</dt>
          <dd><% @plant.fruit_description.each do |info| %>
            <li><%= info %></li>
          <% end %>
          </dd>
        <% end %>

        <dt>Leaf description:</dt>
        <dd>
          <% @plant.leaf_description.each do |info| %>
            <li><%= info %></li>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>

  <div class="column_container">
    <div>
      <h2>Additional information</h2>

      <ul>
        <% @plant.additional_information.each do |info| %>
          <li><%= info %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
